body {
  color: #fff;
}
.app-header {
  background-color: #0c111f;
  box-shadow: -2px 4px 4px 0px #0a1222;
}
a {
  color: #fff;
}

.card {
  background-color: #121729;
}
.table {
  color: #fff;
}
.fa {
  font-size: 18px !important;
  color: #fff;
}
#wrapper {
  background-color: #0c111f;
  // overflow-y: hidden;
}

.sidebar-list {
  background-color: #0e1627 !important;
  color: #fff !important;
  font-size: 0.8rem;
}
// .navbar-toggler:active{
//   border: 1px none
// }
// .scrollbar-container:hover {
//   background-color: #2e426dfa !important;

// }

.sidebar-manu-top {
  background-color: #0e1627 !important;
}

.sidebar-manu {
  background-color: #0e1627 !important;
  color: #4d8af0 !important;
}

.navbar-nav .dropdown-menu {
  background-color: #0e1627 !important;
}
.dropdown-item {
  color: #fff;
}

#sidebar-wrapper .sidebar-heading {
  background-color: #0e1627;
  color: #fff;
}

.scrollbar-container {
  background-color: #0e1627 !important;
}
